@use "@angular/material" as mat;

button {
  @include mat.menu-overrides(
    (
      item-label-text-size: 3rem,
    )
  );

  @include mat.button-overrides(
    (
      text-icon-offset: 0px,
      text-icon-spacing: 0px,
    )
  );
}

.mdc-button {
  min-width: 0px;
}
.mat-mdc-button:has(.material-icons, mat-icon, [matButtonIcon]) {
  padding: 2rem;
}
.mat-mdc-button {
  height: 5rem;
}

.mat-mdc-button > .mat-icon {
  font-size: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
}

// .mat-mdc-button .mdc-button__label + .mat-icon {
//   margin-right: var(--mat-text-button-icon-offset, -4px);
//   margin-left: 0px;
// }

.difficulty {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.difficultyButton {
  border-radius: 0.5vw;
  font-size: 3rem;
}
