@use "@angular/material" as mat;

.difficultyContainer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.line {
  display: flex;
  width: 100%;
}

.difficultyButton,
.gameChip {
  font-size: 3rem;
  width: 100%;
  height: 5rem;
  border-radius: 0.5rem;
}

.difficultyButton.mdc-button,
.gameChip {
  justify-content: left;
}

.mat-icon {
  font-size: 3.5rem;
  height: 3.5rem;
  width: 3.5rem;
}

mat-tab-group {
  @include mat.tabs-overrides(
    (
      label-text-size: 4rem,
    )
  );
}

.title {
  font-size: 4rem;
  font-weight: 500;
}
